#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# X Server WSL settings.
export DISPLAY=$(awk '/nameserver / {print $2; exit}' /etc/resolv.conf 2>/dev/null):0
export LIBGL_ALWAYS_INDIRECT=1

# Enable nvm completion
export NVM_COMPLETION=true

# Add composer binaries to PATH
export PATH=$HOME/.config/composer/vendor/bin:$PATH
